*{
    padding: 0;
    margin: 0;
}

#pagina-completa{
    display: flex;
}

.icone{
    width: 30px;
    height: 30px;
}

#esquerda{
    display: flex;
    background-color: #000000;
    width: 74%;
    justify-content: space-between;
}

#icones-esquerda{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#imagem-principal{
    display: flex;
    height: 58%;
    width: 58%;
}

#direita{
    display: flex;
    background-color: #242526;
    width: 100%;
    flex-direction: column;
    gap: 25px;
}

#topo{
    display: flex;
    justify-content: flex-end;
}

#caixa-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#bloco-texto{
    color: #e4e6eb;
    margin: 20px;
}

#numero-interacoes{
    display: flex;
    justify-content: space-evenly;
}

#interacoes{
    display: flex;
    justify-content: space-evenly;
}

.botao-interacao{
    display: flex;
    background-color: #242526;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.comando{
    color:#B4B6BA;
    font-weight: bold;
}